@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        var twofactor = ViewData["TwoFactorEnabled"];
        if (twofactor != null && twofactor.ToString().ToLower() == "true")
        {
            <a asp-controller="Account" asp-action="RemoveAuthenticator" class="btn btn-warning">Reset & Remove Two Factor Authentication</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="EnableAuthenticator">Setup Two Factor Authentication</a>
        }
        <br />
        <br />
    }

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
